############################################################
###           UNIVERSAL CUSTOM PADAVAN CONFIG            ###
###     ID: RT-N11PB1  | v1.0 | 2026-01-28 | by 4uf      ###
############################################################

CONFIG_VENDOR=ASUS
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="RT-N11PB1"

############################################################
###              KERNEL CORE CONFIGURATION               ###
############################################################

### CPU Clock (600/900MHz) & Sleep Mode (100/220MHz)
CONFIG_FIRMWARE_CPU_600MHZ=n
CONFIG_FIRMWARE_CPU_SLEEP=y

### Drivers & Network Support
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_USB=n

### Filesystems & USB (Disabled)
CONFIG_FIRMWARE_ENABLE_UFSD=n
CONFIG_FIRMWARE_ENABLE_FAT=n
CONFIG_FIRMWARE_ENABLE_EXFAT=n
CONFIG_FIRMWARE_ENABLE_EXT2=n
CONFIG_FIRMWARE_ENABLE_EXT3=n
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_XFS=n
CONFIG_FIRMWARE_ENABLE_HFS=n
CONFIG_FIRMWARE_ENABLE_FUSE=n
CONFIG_FIRMWARE_ENABLE_SWAP=n

### Multimedia & USB modules (Disabled)
CONFIG_FIRMWARE_INCLUDE_UVC=n
CONFIG_FIRMWARE_INCLUDE_HID=n
CONFIG_FIRMWARE_INCLUDE_SERIAL=n
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### Network Core
CONFIG_FIRMWARE_INCLUDE_XFRM=n
CONFIG_FIRMWARE_INCLUDE_QOS=n
CONFIG_FIRMWARE_INCLUDE_IMQ=n
CONFIG_FIRMWARE_INCLUDE_IFB=n
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_NFSD=n
CONFIG_FIRMWARE_INCLUDE_NFSC=n
CONFIG_FIRMWARE_INCLUDE_CIFS=n
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
###               USERSPACE CONFIGURATION                ###
############################################################

### Languages
CONFIG_FIRMWARE_INCLUDE_LANG_BR=n
CONFIG_FIRMWARE_INCLUDE_LANG_CN=n
CONFIG_FIRMWARE_INCLUDE_LANG_CZ=n
CONFIG_FIRMWARE_INCLUDE_LANG_DA=n
CONFIG_FIRMWARE_INCLUDE_LANG_DE=n
CONFIG_FIRMWARE_INCLUDE_LANG_ES=n
CONFIG_FIRMWARE_INCLUDE_LANG_FI=n
CONFIG_FIRMWARE_INCLUDE_LANG_FR=n
CONFIG_FIRMWARE_INCLUDE_LANG_NO=n
CONFIG_FIRMWARE_INCLUDE_LANG_PL=n
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_LANG_SV=n
CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### Utilities & Daemons
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n
CONFIG_FIRMWARE_INCLUDE_LPRD=n
CONFIG_FIRMWARE_INCLUDE_U2EC=n
CONFIG_FIRMWARE_INCLUDE_USBIP=n
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n
CONFIG_FIRMWARE_INCLUDE_SOCAT=n
CONFIG_FIRMWARE_INCLUDE_NDISC6_RDISC6=n
CONFIG_FIRMWARE_INCLUDE_HDPARM=n
CONFIG_FIRMWARE_INCLUDE_PARTED=n
CONFIG_FIRMWARE_INCLUDE_SMBD=n
CONFIG_FIRMWARE_INCLUDE_WINS=n
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n
CONFIG_FIRMWARE_INCLUDE_TESTPARM=n
CONFIG_FIRMWARE_INCLUDE_FTPD=n
CONFIG_FIRMWARE_INCLUDE_FTPD_SSL=n
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=n

### VPN & Security
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_OPENSSH=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_SSWAN=n
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

### Media & Downloaders
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n
CONFIG_FIRMWARE_INCLUDE_ARIA=n
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n

### Proxy & DNS
CONFIG_FIRMWARE_INCLUDE_TOR=n
CONFIG_FIRMWARE_INCLUDE_PRIVOXY=n
CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=n
CONFIG_FIRMWARE_INCLUDE_STUBBY=y
CONFIG_FIRMWARE_INCLUDE_DOH=y
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_QUIC=n

### System Tweaks
CONFIG_FIRMWARE_INCLUDE_WPAD=n
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_ADB=n
CONFIG_FIRMWARE_INCLUDE_LUA=n
CONFIG_FIRMWARE_INCLUDE_EOIP=n
CONFIG_FIRMWARE_INCLUDE_VLMCSD=n
CONFIG_FIRMWARE_INCLUDE_IPERF3=n
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Optimization
CONFIG_CC_OPTIMIZE_FOR_SIZE=n

############################################################
###     NFQWS: KERNEL MODULES & NFQUEUE SUPPORT      ###
############################################################
CONFIG_NETFILTER_NETLINK_QUEUE=y
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=y
CONFIG_NETFILTER_XT_MATCH_NFQUEUE=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y
CONFIG_IP_NF_QUEUE=y
CONFIG_IP6_NF_FILTER=y
CONFIG_IP6_NF_TARGET_REJECT=y
CONFIG_IP6_NF_MANGLE=y
CONFIG_IP6_NF_QUEUE=y
CONFIG_BRIDGE_NF_EBTABLES=y
