name: Build Padavan Firmware

on:
  workflow_dispatch:
    inputs:
      router_config:
        description: 'Select config'
        required: true
        default: ''
        type: choice
        options:
          - asus-rt-n11p-a1.config
          - asus-rt-n11p-b1.config
          - mi-ra75-4a_100m-v1.config
          - asus-rt-n11p-a1-lite.config
          - asus-rt-n11p-b1-lite.config
          - mi-ra75-4a_100m-v1-lite.config

jobs:
  build:
    name: Build ${{ github.event.inputs.router_config }}
    runs-on: ubuntu-latest
    container: registry.gitlab.com/hadzhioglu/padavan-ng
    defaults: { run: { shell: bash } }

    steps:
      - uses: actions/checkout@v4

      - name: Get variables
        run: |
          sed -i 's|\r$||g' variables configs/${{ github.event.inputs.router_config }}
          . <(cat variables configs/${{ github.event.inputs.router_config }})
          PADAVAN_THEMES="${PADAVAN_THEMES[*]}"
          for v in "${!PADAVAN_@}" "${!CONFIG_@}"; do
            echo "$v=${!v}" >> $GITHUB_ENV
          done
          echo "VENDOR_LOWER=$(echo $CONFIG_VENDOR | tr '[:upper:]' '[:lower:]' | tr -cd '[:alnum:]')" >> $GITHUB_ENV
          echo "PRODUCT_LOWER=$(echo $CONFIG_FIRMWARE_PRODUCT_ID | tr '[:upper:]' '[:lower:]' | tr '_' '-' | tr -cd '[:alnum:]-')" >> $GITHUB_ENV

      - name: Download sources
        run: |
          git config --global --add safe.directory '*'
          git clone -b "$PADAVAN_BRANCH" "$PADAVAN_REPO" padavan-ng
          git -C padavan-ng checkout "$PADAVAN_COMMIT"
          wget -qO- "$PADAVAN_TOOLCHAIN_URL" | tar -C padavan-ng --zstd -xf -

      - name: Install themes
        run: |
          if [[ -n $PADAVAN_THEMES ]]; then
            git clone --depth 1 -b "$PADAVAN_THEMES_BRANCH" "$PADAVAN_THEMES_REPO" themes
            cp -r themes/common-theme themes/jquery.js padavan-ng/trunk/user/www/n56u_ribbon_fixed
            for theme in $PADAVAN_THEMES; do
              cp -r "themes/$theme-theme" padavan-ng/trunk/user/www/n56u_ribbon_fixed
            done
          fi

      - name: Pre-build script
        run: '[[ -f pre-build.sh ]] && . pre-build.sh || :'

      - name: Build firmware
        run: |
          cp configs/${{ github.event.inputs.router_config }} padavan-ng/trunk/.config
          cd padavan-ng/trunk
          ./clear_tree.sh
          ./build_firmware.sh
          FW_FILE_NAME="$(find images -type f -regextype posix-extended -iregex ".*\.(trx|bin)$" -printf "%T@\t%f\n" | sort -V | tail -1 | cut -f2)"
          echo "FW_FILE_NAME=$FW_FILE_NAME" >> $GITHUB_ENV

      - name: Post-build script
        run: '[[ -f post-build.sh ]] && . post-build.sh || :'

      - name: Prepare Artifacts
        run: |
          TIMESTAMP=$(date '+%Y%m%d-%H%M')
          ARCHIVE_NAME="padavan-${{ env.VENDOR_LOWER }}-${{ env.PRODUCT_LOWER }}-$TIMESTAMP"
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> $GITHUB_ENV
          mkdir -p release
          cp "padavan-ng/trunk/images/${{ env.FW_FILE_NAME }}" release/
          cp "configs/${{ github.event.inputs.router_config }}" release/build.config

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_NAME }}
          path: release/
          retention-days: 7

      - name: Check size
        run: |
          partitions=padavan-ng/trunk/configs/boards/$CONFIG_VENDOR/$CONFIG_FIRMWARE_PRODUCT_ID/partitions.config
          if [[ -f "$partitions" ]]; then
            max_fw_size="$(awk '/Firmware/ { getline; getline; sub(",", ""); print strtonum($2); }' "$partitions")"
            fw_size="$(stat -c %s "release/${{ env.FW_FILE_NAME }}")"
            ((fw_size > max_fw_size)) && exit 1 || exit 0
          fi